# Required
MR_FRONTEND_URL='http://localhost:5173' # Actual URL pointing to this server, used for copying links with tokens for sharing
MR_ADMIN_TOKEN='averylongtokenwithatleast32chars' # Secret admin token, must be between 32 and 128 chars
MR_MATRIX_HOMESERVER='example.org' # Server name of the matrix server (the part used in usernames)
MR_MATRIX_HOMESERVER_URL='https://matrix.example.org' # Actual URL pointing to the matrix server
MR_MATRIX_REGISTRATION_TOKEN='' # Registration token to use via Matrix API v3
# Optional
# MR_SESSION_INACTIVITY_TIMEOUT # Default: 5 (in minutes)
# MR_DATABASE_DRIVER # Default: memory (can be memory or redis)
# MR_DATABASE_REDIS_HOST # Default: localhost
# MR_DATABASE_REDIS_PORT # Default: 6379
# MR_DATABASE_REDIS_USERNAME # Default: default
# MR_DATABASE_REDIS_PASSWORD # Default: '' (empty string)
# MR_DATABASE_REDIS_DB # Default: 0
# MR_TOKEN_MAXIMUM_ACTIVE # Default: 1000
# MR_TOKEN_EXPIRY_OPTIONS # Default: 1h,6h,12h,1d,3d,1w
